@model MVCapp.Models.Course

@{
    ViewData["Title"] = "Add Courses";
    IEnumerable<MVCapp.Models.Course> Courses = (IEnumerable<MVCapp.Models.Course>)ViewData["Courses"];
}

<h2 class="page-heading">@ViewData["Title"]</h2>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    
    <div>
        <label asp-for="Code"></label>
        <input asp-for="Code" />
        <span asp-validation-for="Code"></span>
    </div>
    
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    
    <div>
        <label asp-for="Progression"></label>
        <input asp-for="Progression" />
        @* <select asp-for="Progression" asp-items="@(new SelectList(ViewBag.progressions, "Value","Text"))"></select> *@
        <span asp-validation-for="Progression"></span>
    </div>
    
    <div>
        <label asp-for="Institution"></label>
        <input asp-for="Institution" />
        <span asp-validation-for="Institution"></span>
    </div>
    
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>

    <partial name="_FormButtons" />
</form>

@if (Courses != null)
{
    <section id="courses">
        <h3 class="section-heading">Courses</h3>
        <div class="divider"></div>

        <div class="resume-container">
            @foreach (MVCapp.Models.Course course in Courses)
            {
            <ul class="course-list">
                <li class="thicc">@course.Code - @course.Name (@course.Progression)</li>
                <li class="small thin">@course.Institution</li>
                <li class="thin">@course.Description</li>
            </ul>
            }
        </div>
        <partial name="_Credits" />
    </section>
}
